/* Popup container - can be anything you want
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

/* The actual popup
.popup .popuptext {
    visibility: hidden;
    width: 265px;
    background-color: #FFF;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    border: 2px solid #4c5667;
}*/

/* Popup arrow
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class - hide and show the popup
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}*/

/* Add animation (fade in the popup)
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}*/


.messagepop {
    width: 280px;
    background-color: #FFF;
    border: 2px solid #4c5667;
    cursor:default;
    display:none;
    margin-top: 15px;
    position:absolute;
    /*width:384px;*/
    z-index:50;
    padding: 8px 0;
    text-align: center;
    border-radius: 6px;
    /*padding: 25px 25px 20px;*/
}

.messagepop p, .messagepop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    padding-bottom: 8px;
}